header {
  position: absolute;
  width: 100%;
  z-index: 10;
}
header .nav {
  max-width: full;
  text-align: center;
  margin: auto;
}
header .nav .card {
  background: rgba(10, 30, 100);
  backdrop-filter:  blur(4px);
  width: 250;
  margin-Top: auto;
  margin-right: 5%;

}
header .nav-title {
  display: block;
  padding: 10px;
  border-top: 2px solid transparent;
  transition: border 0.3s;
  color: #fff;
  cursor: pointer;
  font-size: larger;
  font-weight: bold;
  color: #2f54eb;
  background: linear-gradient(to bottom, rgba(9, 15, 24, 0.164), rgba(112, 79, 79, 0.205));
}
header .nav-title:hover {
  border-top-color: #10239e;
}
header .blur-background::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  filter: blur(4px);
  z-index: -1;
}

.hide {
  display: none;
}

.header-tip-wrap .ant-tooltip-arrow {
  border-bottom-color: rgba(1, 24, 116, 0.96);
}
.header-tip-wrap .ant-tooltip-inner {
  background-color: rgba(1, 24, 116, 0.96);
  box-shadow: 0 8px 16px #001b72;
  padding: 0;
  max-width: none;
  overflow: hidden;
}
.header-tip-wrap .ant-tooltip-inner .tip-block {
  display: flex;
  align-items: center;
  padding: 26px;
  min-width: 296px;
  transition: background 0.3s;
  background: rgba(1, 24, 116, 0);
}
.header-tip-wrap .ant-tooltip-inner .tip-block .tip-img {
  display: inline-block;
}
.header-tip-wrap .ant-tooltip-inner .tip-block .tip-content {
  display: inline-block;
  color: #fff;
  margin-left: 16px;
  line-height: 22px;
}
.header-tip-wrap .ant-tooltip-inner .tip-block .tip-content > div {
  opacity: 0.65;
  font-size: 12px;
  line-height: 20px;
}
.header-tip-wrap .ant-tooltip-inner .tip-block:hover {
  background-color: #112d93;
}
